@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.main-container {
   height: 100%;
   width: 100%;
   overflow: hidden;
   margin: 0px;
   display: flex;
   box-sizing: border-box;
   position: absolute;
   left: 0;
   font-family: 'PT Sans', sans-serif;
}