.sidenav {
  height: 100%;
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  border-right: 2px solid #808080;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #ffff00;
  display: block;
}

.sidenav a:hover {
  color: #ffffff;
}
